// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

.sign-up {
   display: table-caption;
}

.register-sign_in {
  float: right;
  margin-right: 20px;
}
