<% if review = Review.find_by(id: product_id) %>
<% user = User.find(review.user_id) %>

  <div class="review">
    <ul>
      <li>
        <% rating = review.rating %>
        <% rating.times do %>
          <span class='fa fa-star checked'></span>
        <% end %>
        <% (5 - rating).times do %>
          <span class='fa fa-star-o'></span>
        <% end %>
      </li>
      <li class="review-user">
        By: <%= user.first_name %>
         <% if current_user == user %>
          <%= link_to 'Delete Review', review, method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
      </li>
      <li> <%= review.description %> </li>
    </ul>
  </div>

<% end %>