<% if review = Review.find_by(id: product_id) %>
<% user = User.find_by(id: user_id) %>

<div class="col-sm-4">
  <h2>Reviews</h2>
  <dl class="dl-horizontal">
    <dt>Descrition</dt>
    <dd><%= review.description %></dd>
    <dt>Rating</dt>
    <dd><%= review.rating %></dd>
    <dt>User</dt>
    <dd><%= user %></dd>
  </dl>
</div>


<% end %>